*,
*::after,
::before{
  margin: 0;
  padding: : 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62,5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


body {
  font-family: "Cutive Mono", serif;
  line-height: 1.6;
  font-weight: 400;
  min-height: 100vh;
}

.container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1.3fr 1.6fr 1fr; 
  grid-template-rows: 0.2fr 2.6fr 0.3fr;
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". content ."
    ". . ."; 
  background-color: #DCDCDA;
}

.content {
  grid-area: content;
  color: #5d5d5d;
}

.profile-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
}

.portrait {
  width: 10rem;
  height: fit-content;
  border-radius: 10%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}

.profile-name {
  font-family: "Overpass", sans-serif;
  font-size: 1.9rem;
  letter-spacing: -0.5px;
  color: #1d1d1d;
}

.profile-description {
  justify-content: space-between;
  font-weight: 500;
  line-height: 1.8rem;
  color: #5d5d5d;
  list-style: none;
  padding-left: 0;
}

.profile-info {
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.2rem;
}

.info-section {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-family: "Overpass", sans-serif;
  letter-spacing: -0.5px;
  color: #1d1d1d;
}

.website__link:link,
.website__link:visited {
  font-weight: bold;
  line-height: 1.5rem;
 text-decoration: none;
 color: #5d5d5d;
}

.website__link:hover,
.website__link:active {
   text-decoration: underline;
   color: #919191;
}

li {
  list-style: none;
}

.link__icon {
  width: .9rem;
  height: 1.6rem;
  object-fit: contain;
  position: absolute;
  margin-left: .3rem;
  color: #000000;
}

.nav__link {
  position: relative;
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  color: #000000;
}

.nav__link:hover,
.nav__link:active {
  text-decoration: underline;
  color: #5d5d5d;
}