*,
*::after,
::before{
  margin: 0;
  padding: : 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62,5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


body {
  font-family: "Cutive Mono", serif;
  line-height: 1.6;
  font-weight: 400;
  min-height: 100vh;
}

.container {
  display: grid; 
  grid-template-columns: 0.1fr 2.8fr 0.1fr; 
  grid-template-rows: 0.2fr 2.1fr 0.2fr;
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". content ."
    ". . ."; 
  background-color: #e4e2d8;
}

.content {
  grid-area: content;
  width: 100%;
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.portrait {
  width: 10rem;
  height: fit-content;
  border-radius: 10%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name {
  font-family: "Overpass", sans-serif;
  font-weight: 500; 
  letter-spacing: -0.5px;
}

.profile-description {
  justify-content: space-between;
  font-weight: 600;
  line-height: 1.5rem;
  color: #5d5d5d;
  list-style: none;
  padding-left: 0;
}

.website__link:link,
.website__link:visited {
  font-weight: 600;
  line-height: 1.5rem;
 text-decoration: none;
 color: #5d5d5d;
}

.website__link:hover,
.website__link:active {
   text-decoration: underline;
   color: #919191;
}